<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img id="Logo" src="../../../../assets/Imagenes/LogoPNG.png" alt="Not Visible"  (click)="volver()">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <button class="btn btn-danger" (click)="salir()" style="width: 200px;">SALIR</button>
    </div>
</nav>