<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img id="Logo" src="../../../../assets/Imagenes/LogoPNG.png" alt="Not Visible"  (click)="volver()">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/landingpage">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" hidden>Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/perfilusuario">Ventana Usuario</a></li>
              <li><a class="dropdown-item" routerLink="/admin">Ventana Admin</a></li>
              <li><a class="dropdown-item" routerLink="/ventanaproductos">Ventana Productos</a></li>
            </ul>
          </li>
        </ul>
        <button class="btn btn-danger" routerLink="/login" style="width: 200px;">SALIR</button>
      </div>
    </div>
  </nav>