<app-header></app-header>
<div class="container-fluid">
    <div class="item-container">
        <div class="row">
                <div class="col-md-3">
                    <img id="item-display" class="rounded-1" src="https://cdn.discordapp.com/attachments/832023634171658311/836360738528296970/demo.jpg" alt="">

                    <br>
                    <br>
                    <img src="https://cdn.discordapp.com/attachments/832023634171658311/836360738528296970/demo.jpg" alt="" width="66" height="65">
                    
                    <img src="https://cdn.discordapp.com/attachments/832023634171658311/836360738528296970/demo.jpg" alt="" width="67" height="65">
                    
                    <img src="https://cdn.discordapp.com/attachments/832023634171658311/836360738528296970/demo.jpg" alt="" width="67" height="65">  
                </div>
                <div class="col-md-9">
                    <h3>NOMBRE PRODUCTO</h3>
                    <h6>Descripcion del producto corta Descripcion del producto corta Descripcion del producto corta Descripcion del producto corta Descripcion del producto corta  </h6>
                    <h3>¿Qué necesito?</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Escalera</li>
                        <li class="list-group-item">Kit Taladro percutor eléctrico 100m marca Bauker 600W</li>
                        <li class="list-group-item">Sofa 3 cuerpos (pago la diferencia)</li>
                        <li class="list-group-item">Un diseño web</li>
                      </ul>
                      <br>
                      <div class="d-grid gap-2">
                      <button class="btn btn-outline-success" type="button">¡CAMBIEMOS!</button>
                      </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
                <p></p>
                <h2 style="text-align: center;">Algun título</h2>
            </div>
        </div>
        <div class="row">
                <p></p>
                <div class="col-4">
                  <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="home">Descripción</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Detalles</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Comentarios</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Perfil</a>
                  </div>
                </div>
                <div class="col-8">
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">RGB y blanco completo ballance
                        Estándar: E27
                        Voltaje de entrada AC 220V 50 / 60Hz
                        La vida: más 30000hrs
                        Potencia: 8,5 W
                        LED RGB: 6 uds.
                        Cada led rgb potencia: 1,5 W
                        Ángulo de haz: 180 °
                        Temperatura de Color: 2700-6000K
                        Flujo luminoso: 900LM
                        Estándar inalámbrico: Zigbee 3,0/Asistente de casa
                        Tamaño del producto: 120x60mm
                        Certificación: FCC/ CE / RoHS</div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                  </div>
                </div> 
        </div>
    </div>
  </div>
<app-footer></app-footer>