<app-header></app-header>
    <div class="container">
        <h1 style="font-size:50px; text-align: center;padding:3%; color:white;">Registro De Usuario</h1>
    </div>
    <div id="contenedor" class="container">
        <div class="row" style="padding-top:2%;">
            <div class="col-4">
                <div class="form-floating mb-3">
                    <input type="user" class="form-control" id="floatingInput" placeholder="Usuario123">
                    <label for="floatingInput">Nombre:</label>
                  </div>
            </div>
            <div class="col-4">
                <div class="form-floating mb-3">
                    <input type="user" class="form-control" id="floatingInput" placeholder="Usuario123">
                    <label for="floatingInput">Apellido:</label>
                  </div>
            </div>
            <div class="col-4">
                <div class="form-floating mb-3">
                    <input type="user" class="form-control" id="floatingInput" placeholder="Usuario123">
                    <label for="floatingInput">Pais:</label>
                  </div>
            </div>
        </div>
        <div class="row" style="padding-top:2%;">
            <div class="col-4">
                <div class="form-floating mb-3">
                    <input type="user" class="form-control" id="floatingInput" placeholder="Usuario123">
                    <label for="floatingInput">Usuario:</label>
                  </div>
            </div>
            <div class="col-4">
                <div class="form-floating mb-3">
                    <input type="user" class="form-control" id="floatingInput" placeholder="Usuario123">
                    <label for="floatingInput">Contraseña:</label>
                  </div>
            </div>
            <div class="col-4">
                <div class="form-floating mb-3">
                    <input type="user" class="form-control" id="floatingInput" placeholder="Usuario123">
                    <label for="floatingInput">Ciudad:</label>
                  </div>
            </div>
        </div>
        <div class="d-grid gap-2" style="padding-bottom: 2%;">
            <button class="btn btn-primary" type="button">Registrar</button>
        </div>  
    </div>
    <div class="container">
        <div class="row">
            <h1 style="font-size:20px; text-align: center;padding:1%; color:white;">Ya tienes una cuenta?</h1>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary">Ingresar Aqui!</button>
        </div>
    </div>