<app-header></app-header>
<div class="container" style="font-weight: bold;font-size: large;">
    <div class="row">
        <div class="col">
        <h2 style="text-align: center;">Administrador</h2>
        </div>
    </div>
      <div class="dropdown">
        <button  style="float:right;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Perfil</a></li>
          <li><a class="dropdown-item" href="#">Cerrar Sesion</a></li>
        </ul>
      </div>
    <br>
    <br>
    <div class="container" style="background-color: rgba(255, 255, 255,0.5); border: solid 5px black;">
        <h2>Lista de usuarios</h2>
        <br>
        <div class="row">
            <div class="col-8">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Usuario</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let usuario of usuarios">
                      <tr>
                        <th scope="row">{{usuario.id}}</th>
                        <th scope="row">{{usuario.nombre}}</th> 
                        <th scope="row">{{usuario.apellido}}</th>
                        <th scope="row">{{usuario.usuario}}</th>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
              <div class="container">
                <h2>Borrar por ID</h2>
                <input type="text" [(ngModel)] ="ideliminar" class="form-control" placeholder="Ingrese ID" style="margin-bottom: 1%;">
                <button class="btn btn-danger" style="border: solid 3px black; width: 100%;" (click)="eliminar()">Borrar Usuario</button>
              </div>
            </div>
        </div>
      </div>
</div>
<app-footer></app-footer>